main {
  text-align: center;
}

form {
  margin: 20px 0;
}

p {
  color: darkblue;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

body {
  background-color: #ffffff;
}

h1 {
  color: #131313; 
}

h2 {
  color: #131313; 
}

/* input[type="number"] {
  width: 50px;
  margin-right: 10px;
} */

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: seagreen;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.review-card {
  background-color: #f4f4f4; /* Card background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 20px; /* Inner spacing */
  margin: 20px; /* Outer spacing */
  width: 800px; /* Max width of the card */
}

.rating-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.rating-container span {
  margin: 0 5px;
  font-size: 36px;
}

.centerDivStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

textarea {
  /* width: 660px; */
  height: 106px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
    .review-card {
        width: 90%; /* Make card more responsive on smaller screens */
    }
  .textarea{
        width: 50%; /* Make card more responsive on smaller screens */
  }
}

.logout-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
